$light: #4255dd;
$dark: #003366;
$borderRadius: 5px;
$simpleBoxShadow: 0 0 2px black;

// Useful mixins 
@mixin vendor-prefix($name, $argument) {
    #{$name}: $argument;
    -webkit-#{$name}: $argument;
    -ms-#{$name}: $argument;
    -moz-#{$name}: $argument;
    -o-#{$name}: $argument;
}

@mixin func-prefix($name, $argument) {
    #{$name}: $argument;
    #{$name}: -webkit-#{$argument};
    #{$name}: -moz-#{$argument};
    #{$name}: -o-#{$argument};
    #{$name}: -ms-#{$argument};
}

// BAsic layout

h1 {
    font-family: "Times new roman";
    font-weight: normal;
    font-size: 3em;
    margin-top: 10px;
}
body {
    width: 960px;
    margin: auto;
    @include func-prefix(background,
        linear-gradient(90deg, #E6E6E6,white, #E6E6E6 ));
}

#content {
    border-radius: $borderRadius;
    box-shadow: $simpleBoxShadow;
    margin-bottom: 20px;
}
.column {
    display: inline-block;
}

#left-col {
    width: 60%;
}

nav {
    background: $light;
    @include func-prefix(background,
    linear-gradient(90deg, $dark,lighten($light,10%), $light ));
    padding: 0;
    text-align: center;
    border-radius: $borderRadius;
    box-shadow: $simpleBoxShadow;
}

nav li {
    display : inline-block ;
    width: 24% ;
    margin: 0;
}

nav a {
    width: 100%;
    display: block;
    color: white;
    font-weight: bold;
    text-shadow: 0 1px black ;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    @include vendor-prefix(transition, background 500ms );
    background-color: transparentize($dark,1);
}

nav a:hover {
    background-color: $dark;
}

nav ul {
    margin: 0;
    padding: 0;
}

.jumbotron div[class *= '-wrapper'] {
    display: inline-block;
    vertical-align: middle;
}

.imac-wrapper {
    width: 55%;
}

#langs-canvas {
    display: block;
}

#langs-canvas {
    display: block;
}
// Widgets

// Util classes
.center {
    text-align: center;
}


// Widgets
.button {
    display: inline-block;
    border-radius: $borderRadius;
    background: darken($light,20%);
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: $simpleBoxShadow;
    color: darken(white,20%);
    text-shadow: 0 1px white;
    @include vendor-prefix(transition, box-shadow 600px);
}

.button:hover {
    box-shadow:  0 0 10px #ffcc00;
}
