h1 {
  font-family: "Times new roman";
  font-weight: normal;
  font-size: 3em;
  margin-top: 10px; }

h3 {
  margin: 2px;
  margin-top: 0; }

p {
  font-family: Arial;
  text-align: justify; }

body {
  font-family: "times new roman";
  width: 960px;
  margin: auto;
  background: linear-gradient(90deg, #e6e6e6, white, #e6e6e6);
  background: -webkit-linear-gradient(90deg, #e6e6e6, white, #e6e6e6);
  background: -moz-linear-gradient(90deg, #e6e6e6, white, #e6e6e6);
  background: -o-linear-gradient(90deg, #e6e6e6, white, #e6e6e6);
  background: -ms-linear-gradient(90deg, #e6e6e6, white, #e6e6e6); }

#content {
  background: white;
  border: #003366 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 30px; }

.column {
  vertical-align: top;
  display: inline-block; }

#left-col {
  width: 54%;
  padding-right: 20px;
  margin-left: 20px; }

#right-col {
  margin-left: 20px;
  width: 37%; }

nav {
  font-family: Arial;
  background: #005599;
  background: linear-gradient(90deg, #003366, #0071cc, #005599);
  background: -webkit-linear-gradient(90deg, #003366, #0071cc, #005599);
  background: -moz-linear-gradient(90deg, #003366, #0071cc, #005599);
  background: -o-linear-gradient(90deg, #003366, #0071cc, #005599);
  background: -ms-linear-gradient(90deg, #003366, #0071cc, #005599);
  padding: 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 2px black; }

nav li {
  display: inline-block;
  width: 24%;
  margin: 0; }

nav a {
  width: 100%;
  display: block;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px black;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: background 500ms;
  -webkit-transition: background 500ms;
  -ms-transition: background 500ms;
  -moz-transition: background 500ms;
  -o-transition: background 500ms;
  background-color: rgba(0, 51, 102, 0); }

nav a:hover {
  background-color: #003366; }

nav ul {
  margin: 0;
  padding: 0; }

.jumbotron div[class*='-wrapper'] {
  padding-top: 20px;
  display: inline-block;
  vertical-align: middle; }

.imac-wrapper {
  padding-left: 20px;
  width: 56%;
  margin-bottom: -25px; }

.langs-canvas-wrapper {
  width: 40%;
  text-align: center; }

.center {
  text-align: center; }

.float {
  float: left;
  margin-right: 10px; }

.button {
  display: inline-block;
  border-radius: 5px;
  background: #001c33;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 0 0 2px black;
  color: #cccccc;
  text-shadow: 0 1px white;
  transition: box-shadow 600px;
  -webkit-transition: box-shadow 600px;
  -ms-transition: box-shadow 600px;
  -moz-transition: box-shadow 600px;
  -o-transition: box-shadow 600px; }

.button:hover {
  box-shadow: 0 0 10px #ffcc00; }
